*,
::after,
::before {
  box-sizing: border-box;
}
:root {
  background-color: #EEFFF5;

  /* set font family here */
  --ff-primary: "Roboto";
}

.header {
  position: fixed;
  display: flex;
}

.wrapper {
  padding: 200px;
  align-content: center;
  display: flex;
}

form {
  background-color: #4654e1;
  width: 300px;
  height: 44px;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

input {
  all: unset;
  font: 16px system-ui;
  color: #fff;
  height: 100%;
  width: 100%;
  padding: 6px 10px;
}

::placeholder {
  color: #4654e1;
  opacity: 0.5;
}

h1 {
}

h2 {
  margin: 10%;
  margin-left: 5%;
  align-items: flex-start;
}

h3 {
}

h4 {
}

h5 {
}

h6 {
}

p {
  margin-right: 10%;
}
