body {
  /* background: #3206FF;
  background: linear-gradient(45deg, #3206FF, #F9839B); */
  min-height: 100vh;
  background-color: black;
}

.content {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 54%;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: grey;
  margin-top: 50px; 
}

.slider {
  display: block;
  position: relative;
  width: 100%;
  max-width: 615px;
  margin: 10px;
  overflow: hidden;
}

h1 {
    font-size: xx-large;
    color: white;
}

#searchbar{
  width: 35vw;
  padding: 15px;
  margin-top:15px;
  border-radius: 10px;
}

.slider__slides {
  width: 100%;
  padding-top: 66%;
}

.slider__image {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 50px;
    font-weight: bold;   
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: 1s;
    opacity: 0;
}

.slider__image.active {
    opacity: 1;
}

.related-topics {
    display: flex;
    flex-direction: row;
    gap: 30px;
    width: 54%;    
    margin: 0 auto;
    margin-top: 5%;
}

.img-slide {
  display: flex;
  justify-content: center;
  background-color: rgb(245, 245, 245);
  flex: 1 1 0%;
  border-radius: 20px;
}

.topics {
  align-items: center;
  justify-content: center;
  background-color: rgb(245, 245, 245);
  flex: 1 1 0%;
  border-radius: 20px 20px;     
}

.topics img {
  border-radius: 20px 20px 0 0;
}

.description{
  width: 140px;
  height: 25px;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  background-color: rgb(255, 255, 255);
  border: none;
  color: rgb(66, 66, 66);
  flex-direction: column;
  cursor: pointer;
}

button {
  background-color: gray;
  border-radius: 20px;
  width: 250px;
  height: 250px;
  display: flex;
  color: black;
  flex-direction: column;
}

.slider__nav-button {
  position: absolute;
  height: 70px;
  width: 70px;
  background-color: #333;
  opacity: .8;
  cursor: pointer;
}

#nav-button--prev {
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}

#nav-button--next {
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}

#nav-button--prev::after,
#nav-button--next::after {
  content: "";
  position: absolute;
  border: solid white;
  border-width: 0 4px 4px 0;
  display: inline-block;
  padding: 3px;
  width: 40%;
  height: 40%;
}

#nav-button--next::after{
  top: 50%;
  right: 50%;
  transform: translate(25%, -50%) rotate(-45deg);
}

#nav-button--prev::after {
  top: 50%;
  right: 50%;
  transform: translate(75%, -50%) rotate(135deg);
}

.slider__nav {
  position: absolute;
  bottom: 3%;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}

.slider__navlink {
  display: inline-block;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  border: 1px #fff solid;
  background-color: #333;
  opacity: .8;
  margin: 0 10px 0 10px;
  cursor: pointer;
}

.slider__navlink.active {
  background-color: #fff;
  border: 1px #333 solid;
}



@media screen and (max-width: 640px) {
.slider__nav-button {
  height: 40px;
  width: 40px;
}
.slider__navlink {
  height: 12px;
  width: 12px;
}
}

.about {
  background-color: white;
  margin: 8% 0 0 0;
} 

p {
  font-size: 24px;
  text-align: center;
  padding: 25px 20% 0 20%;
  
}


h2 {
  font-size: 24px;
  text-align: center;
  padding: 25px 20% 0 20%;
}