body {
  /* background: #3206FF;
  background: linear-gradient(45deg, #3206FF, #F9839B); */
  min-height: 100vh;
}

.subheader {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 54%;
}

.subheader input {
  background-color: var(--bg-color-white);
}

.slide2 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}

.slider {
  display: block;
  position: relative;
  width: 100%;
  max-width: 615px;
  margin: 10px;
  overflow: hidden;
  border-radius: 20px;
  width: 35vw;
  height: 40vh;
}

.subheader h1 {
  margin: 0 auto;
  margin-top: 5%;
  font-size: xx-large;
  color: var(--txt-color-white);
}

h4 {
  margin-top: 10px;
  text-align: center;
}

.slider__image {
    font-size: xx-large;
    color: var(--txt-color-white);
    margin-top: 50px;
    background-position: center;
    background-size: cover;
}

#searchbar {
  width: 35vw;
  padding: 15px;
  margin-top: 15px;
  border-radius: 10px;
}

#carousel {
  margin-left: 30%;
  margin-top: 7%;
  overflow: hidden;
  white-space: nowrap;
  width: 35vw;
  height: 40vh;
}
.slider__slides {
  width: 100%;
  padding-top: 66%;
}

.slider__image {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 50px;
  font-weight: bold;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: 1s;
  opacity: 0;
}

.slider__image.active {
    display: flex;
    flex-direction: row;
    gap: 30px; 
    margin: 0 auto;
    opacity: 1;
    z-index: 1;
}

.related-topics {
  display: flex;
  flex-direction: row;
  gap: 30px;
  width: 50%;
  margin: 100px auto 100px auto;
}

.topics {
  flex-grow: 1;
}

.img-slide {
  display: flex;
  justify-content: center;
  background-color: var(--bg-color-white);
  flex: 1 1 0%;
  border-radius: 20px;
}

.topics {
  align-items: center;
  justify-content: center;
  background-color: var(--bg-color-white);
  flex: 1 1 0%;
  border-radius: 20px 20px;
}

.topics img {
  border-radius: 20px 20px 0 0;
}

.description {
  width: 140px;
  height: 25px;
  display: flex;
  margin: 0 auto;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  background-color: var(--bg-color-white);
  border: none;
  color: rgb(66, 66, 66);
  flex-direction: column;
  cursor: pointer;
}

button {
  background-color: var(--bg-color-grey);
  border-radius: 20px;
  width: 250px;
  height: 250px;
  display: flex;
  color:  var(--txt-color-black);
  flex-direction: column;
}

.slider__nav-button {
  position: absolute;
  height: 70px;
  width: 70px;
  background-color: var(--bg-color-black);
  opacity: 0.8;
  cursor: pointer;
  z-index: 2;
}

#nav-button--prev {
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}

#nav-button--next {
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}

#nav-button--prev::after,
#nav-button--next::after {
  content: "";
  position: absolute;
  border: solid var(--border-color-white);
  border-width: 0 4px 4px 0;
  display: inline-block;
  padding: 3px;
  width: 40%;
  height: 40%;
}

#nav-button--next::after {
  top: 50%;
  right: 50%;
  transform: translate(25%, -50%) rotate(-45deg);
}

#nav-button--prev::after {
  top: 50%;
  right: 50%;
  transform: translate(75%, -50%) rotate(135deg);
}

.slider__nav {
  position: absolute;
  bottom: 3%;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  z-index: 2;
}

.slider__navlink {
  display: inline-block;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  border: 1px var(--border-color-white) solid;
  background-color: var(--bg-color-black);
  opacity: 0.8;
  margin: 0 10px 0 10px;
  cursor: pointer;
}

.slider__navlink.active {
  background-color: var(--bg-color-white);
  border: 1px #333 solid;
}

@media screen and (max-width: 640px) {
.slider__nav-button {
  height: 40px;
  width: 40px;
 
}
.slider__navlink {
  height: 12px;
  width: 12px;
 
  }}

.about {
  background-color: var(--bg-color-white);
  margin: 8% 0 0 0;
}

.about p {
  font-size: 24px;
  text-align: center;
  padding: 25px 20% 0 20%;
}

.about h2 {
  font-size: 24px;
  text-align: center;
  padding: 25px 20% 0 20%;
}
