body {
  width: 100vw;
  color: #666666;
  font-family: sans-serif, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0.6px;
}
.flex {
  display: flex;
}
.main {
  width: 100%;
  height: calc(100vh - 75px);
  /* background-color: lightblue; */
}
section {
  height: 100%;
  width: 100%;
}
section .tab {
  height: calc(100vh - 120px);
  margin: auto 0;
  align-items: center;
  padding: 0 5px;
  font-size: 14px;
  background-color: #363636;
  border-left: 1px;
  border-color: white;
  color: #eefff5;
  border-radius: 15px;
}
section .tab > p {
  writing-mode: vertical-rl;
  text-orientation: mixed;
  transform: rotate(180deg);
}
section .content {
  display: none;
  overflow-y: scroll;
  width: calc(100vw - 266px);
}
section:nth-child(1) .content {
  display: block;
}
section .container {
  max-width: 980px;
  padding: 35px 35px;
  margin: 100px auto;
  position: relative;
}

#over-view .img-holder {
  width: 50%;
  height: 550px;
}
#over-view .img-holder > img {
  width: 100%;
  object-fit: cover;
}
#over-view .content-holder {
  width: 50%;
  margin-left: 30px;
}
#over-view .tags {
  margin-bottom: 100px;
}
#over-view .tags > li {
  margin-right: 15px;
  padding: 4px;
  border-radius: 10px;
  background-color: #eefff5;
  text-align: center;
  font-size: 16px;
}
#over-view .content-holder p {
  margin-right: 0;
  margin-bottom: 30px;
  font-size: 16px;
  line-height: 1.5em;
}

#over-view .feedback img {
  width: 25px;
  height: 25px;
  position: relative;
  top: 5px;
  margin-right: 10px;
}
#over-view .feedback p {
  margin-right: 50px;
}
#ingredients .flex {
  flex-wrap: wrap;
}
#ingredients .flex .img-holder {
  width: 100px;
  height: 100px;
  margin-bottom: 10px;
}
#ingredients .flex .img-holder img {
  width: 100%;
  height: 100%;

  border-radius: 50%;
}
#ingredients .flex .item {
  margin: 35px;
  text-align: center;
}

#method li {
  margin: 35px 25px;
  padding-bottom: 20px;
  border-bottom: 1px solid #c4c4c4;
  font-size: 16px;
  list-style: decimal;
}

#video .video-holder {
  width: 880px;
  height: 497px;
}
#video iframe {
  width: 100%;
  height: 100%;
}
#review .comment {
  margin-bottom: 25px;
  padding-bottom: 25px;
  border-bottom: 1px solid #c4c4c4;
}
#review .container {
  position: relative;
}
#review .comment .img-holder {
  width: 50px;
  height: 50px;
  margin-right: 25px;
  margin-bottom: 15px;
}
#review .comment .img-holder img {
  width: 50px;
  border-radius: 50%;
  object-fit: cover;
}
#review .comment h2 {
  margin: 4px 0px 6px 0;
  font-size: 18px;
  font-weight: 600;
}
#review .container > .flex {
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
#review h1 {
  margin-bottom: 0;
}
#write-review-btn {
  margin: 0;
  padding: 10px;
  border-radius: 10px;
  background-color: black;
  color: #fff;
}
#write-review-btn:hover {
  transform: scale(1.3);
  -webkit-transition: transform 0.3s;
}
#review-form {
  position: absolute;
  left: 200px;
  width: 500px;
  height: 500px;
  padding: 30px;
  background-color: #363636;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#review-form input {
  width: 75%;
  height: 30px;
  background-color: white;
  border-radius: 5px;
  margin-bottom: 20px;
}
#review-form textarea {
  width: 350px;
  height: 150px;
  border-radius: 5px;
  margin-bottom: 20px;
  padding: 10px;
  font-size: 16px;
}
#review-form h3 {
  padding: 10px 20px;
  background-color: white;
  border-radius: 20px;
  font-size: 24px;
  margin: 20px;
}
#review-form input[type="submit"] {
  width: 100px;
  text-align: center;
  font-size: 16px;
}
#review-form input[type="submit"]:hover {
  transform: scale(1.3);
  -webkit-transition: transform 0.3s;
}
#close-btn:hover {
  background-color: #fff;
  padding: 0 10px;
  border-radius: 20px;
}

#similar-recipes .flex,
#serve-with .flex {
  flex-wrap: wrap;
}
#similar-recipes .recipe,
#serve-with .recipe {
  width: 200px;
  margin: 0 20px 35px 0;
  text-align: center;
}
#similar-recipes h2,
#serve-with h2 {
  margin: 10px 0;
  font-weight: 600;
  font-size: 18px;
}
#similar-recipes p,
#serve-with p {
  margin: 0;
}
#similar-recipes .bg-img,
#serve-with .bg-img {
  width: 200px;
  height: 300px;
  padding: 100px 0;
  background-image: url(../images/dammy_img_food.jpg);
  background-size: cover;
}
#similar-recipes .bg-img-text,
#serve-with .bg-img-text {
  width: 0px;
  height: 0px;
  text-align: center;
  line-height: 100px;
  margin: auto;
  background-color: chocolate;
  border-radius: 50%;
}
#similar-recipes .cook-time::before,
#serve-with .cook-time::before {
  background-image: url("../images/icon_timer.svg");
  background-size: 15px 15px;
  display: inline-block;
  width: 15px;
  height: 15px;
  content: "";
  position: relative;
  top: 3px;
  left: -5px;
}

.tab.hover {
  background-color: white;
  color: black;
}
.tab.open {
  position: relative;
  background-color: white;
  color: black;
  box-shadow: 0px 8px 16px -2px rgba(10, 10, 10, 0.1),
    10px 0px 12px -2px rgba(10, 10, 10, 0.3);
}
