<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Recipeee</title>
	<link rel="stylesheet" href="../css/reset.css">
	<link rel="stylesheet" href="../css/basic.css">
	<link rel="stylesheet" href="../css/recipe.css">
</head>
<body>
	<main class="main flex">
		<section id="over-view" class="flex">
			<div class="tab flex">
				<p>Overview</p>
			</div>
			<div class="content">
				<div class="container flex">
					<div class="img-holder">
						<img src="https://riomarkennedyonline.com.br/riomarkennedyonline/2020/05/PASTEL_CHEPPITOS.jpg" alt="" srcset="">
					</div>
					<div class="content-holder">
						<h1>Pastel</h1>
						<ul class="flex tags">
							<li>Brazil</li>
							<li>Brazilian Food</li>
							<li>"Pastel de feira"</li>
							<li>"Traditional Food</li>
						</ul>
						<p>Pastel is a food composed of a dough based on flour that is formed in an envelope, filled and then fried by soaking in boiling oil. Originating from European cuisine, pastel is one of the most frequently found foods in street carts and popular trade centers in Brazil </p>
						<div class="feedback flex">
							<p>15 portions</p>
							<p>30 min</p>
						</div>
					</div>
				</div>
			</div>
		</section>
		<section id="ingredients" class="flex">
			<div class="tab flex">
				<p>Ingredients</p>
			</div>
			<div class="content">
				<div class="container">
					<h1>Ingredients</h1>
					<div class="flex">
						<div class="item">
							<div class="img-holder">
								<img src="https://www.bakingbusiness.com/ext/resources/2020/5/WholeWheatFlour_Lead.jpg?t=1588771711&width=1080" alt="" >
							</div>
							<p>3 cups of wheat flour</p>
						</div>
						<div class="item">
							<div class="img-holder">
								<img src="https://www.altoastral.com.br/media/_versions/legacy/2017/07/servindo-agua-morna-copo_widexl.jpg" alt="" >
							</div>
							<p>1 cup of warm water</p>
						</div>
						<div class="item">
							<div class="img-holder">
								<img src="https://ae01.alicdn.com/kf/H58abc34bb8f245aeb016b15a11a30a96z/colher-de-sopa-oleo-filtro-01.jpg" alt="" >
							</div>
							<p>3 tablespoons (soup) of oil</p>
						</div>
						<div class="item">
							<div class="img-holder">
								<img src="https://madeinazores.eu/2092-home_default/aguardente-de-bagaco-adega-de-sant-ana-700ml.jpg" alt="" >
							</div>
							<p>1 tablespoons (soup) of cachaça</p>
						</div>
						<div class="item">
							<div class="img-holder">
								<img src="https://thumbs.dreamstime.com/b/colher-do-sal-estilo-d-real%C3%ADstico-de-ch%C3%A1-isolado-no-fundo-branco-ilustra%C3%A7%C3%A3o-vetor-103371667.jpg" alt="" >
							</div>
							<p>1 tablespoons (soup) of salt</p>
						</div>
						<div class="item">
							<div class="img-holder">
								<img src="https://www.bakingbusiness.com/ext/resources/2020/5/WholeWheatFlour_Lead.jpg?t=1588771711&width=1080" alt="" >
							</div>
							<p>More wheat flour to work the dough</p>
						</div>
					</div>
				</div>
			</div>
		</section>
		<section id="method" class="flex">
			<div class="tab flex">
				<p>Method</p>
			</div>
			<div class="content">
				<div class="container">
					<h1>How to cook</h1>
					<ol>
						<li>Place the flour mixed with the salt in a bowl or table and open a hole in the middle.</li>
						<li>In this hole, place the oil, the cachaça and some water.</li>
						<li>Mix the water and flour gradually, each time picking up a little more flour from the edge of the hole.</li>
						<li>The dough should be soft..</li>
						<li>If it's a little sticky, it's okay, If it is too sticky, add more flour.</li>
						<li>If it's hard, put some more water in it.</li>
						<li>On a floured surface, open the dough with the aid of a roll, so that it is very thin.(If it doesn't get thin, it won't get crispy after frying.)</li>
						<li>Fill to taste, and close with a fork or with the back of a knife.</li>
						<li>Fry in hot oil (not too much) over medium-high heat and drain with the aid of a skimbag, before leaving to dry on absorbent paper.</li>
					</ol>
				</div>
			</div>
		</section>
		<section id="video" class="flex">
			<div class="tab flex">
				<p>Cook with Video</p>
			</div>
			<div class="content">
				<div class="container">
					<h1>Cook with the video</h1>
					<div class="video-holder">
						<iframe width="560" height="315" src="https://www.youtube.com/embed/yb0ZGxy1mKM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
					</div>
				</div>
			</div>
		</section>
		<section id="review" class="flex">
			<div class="tab flex">
				<p>Review</p>
			</div>
			<div class="content">
				<div class="container">
					<h1>Review</h1>
					<div class="comment">
						<div class="flex">
							<div class="img-holder">
								<img src="../images/dammy_img_face.jpeg" alt="">
							</div>
							<div>
								<h2>Name of person</h2>
								<p>Cook at March 13th, 2022</p>
							</div>
						</div>
						<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta officiis deserunt quidem odit quisquam qui sed voluptas consequuntur dolor atque?</p>
					</div>
					<div class="comment">
						<div class="flex">
							<div class="img-holder">
								<img src="../images/dammy_img_face.jpeg" alt="">
							</div>
							<div>
								<h2>Name of person</h2>
								<p>Cook at March 13th, 2022</p>
							</div>
						</div>
						<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta officiis deserunt quidem odit quisquam qui sed voluptas consequuntur dolor atque?</p>
					</div>
					<div class="comment">
						<div class="flex">
							<div class="img-holder">
								<img src="../images/dammy_img_face.jpeg" alt="">
							</div>
							<div>
								<h2>Name of person</h2>
								<p>Cook at March 13th, 2022</p>
							</div>
						</div>
						<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta officiis deserunt quidem odit quisquam qui sed voluptas consequuntur dolor atque?</p>
					</div>
					<div class="comment">
						<div class="flex">
							<div class="img-holder">
								<img src="../images/dammy_img_face.jpeg" alt="">
							</div>
							<div>
								<h2>Name of person</h2>
								<p>Cook at March 13th, 2022</p>
							</div>
						</div>
						<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta officiis deserunt quidem odit quisquam qui sed voluptas consequuntur dolor atque?</p>
					</div>
					<div class="comment">
						<div class="flex">
							<div class="img-holder">
								<img src="../images/dammy_img_face.jpeg" alt="">
							</div>
							<div>
								<h2>Name of person</h2>
								<p>Cook at March 13th, 2022</p>
							</div>
						</div>
						<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta officiis deserunt quidem odit quisquam qui sed voluptas consequuntur dolor atque?</p>
					</div>
				</div>
			</div>
		</section>
		<section id="similar-recipes" class="flex">
			<div class="tab flex">
				<p>Similar Recipes</p>
			</div>
			<div class="content">
				<div class="container">
					<h1>Similar Recipes</h1>
					<div class="flex">
						<div class="recipe">
							<img src="../images/dammy_img_food.jpg" alt="">
							<h2>dish name</h2>
							<p>cook time</p>
						</div>
						<div class="recipe">
							<img src="../images/dammy_img_food.jpg" alt="">
							<h2>dish name</h2>
							<p>cook time</p>
						</div>
						<div class="recipe">
							<img src="../images/dammy_img_food.jpg" alt="">
							<h2>dish name</h2>
							<p>cook time</p>
						</div>
						<div class="recipe">
							<img src="../images/dammy_img_food.jpg" alt="">
							<h2>dish name</h2>
							<p>cook time</p>
						</div>
						<div class="recipe">
							<img src="../images/dammy_img_food.jpg" alt="">
							<h2>dish name</h2>
							<p>cook time</p>
						</div>
						<div class="recipe">
							<img src="../images/dammy_img_food.jpg" alt="">
							<h2>dish name</h2>
							<p>cook time</p>
						</div>
					</div>
				</div>
			</div>
		</section>
		<section id="serve-with" class="flex">
			<div class="tab flex">
				<p>Serve with</p>
			</div>
			<div class="content">
				<div class="container">
					<h1>Serve with</h1>
					<div class="flex">
						<div class="recipe">
							<img src="../images/dammy_img_food.jpg" alt="">
							<h2>dish name</h2>
							<p>cook time</p>
						</div>
						<div class="recipe">
							<img src="../images/dammy_img_food.jpg" alt="">
							<h2>dish name</h2>
							<p>cook time</p>
						</div>
						<div class="recipe">
							<img src="../images/dammy_img_food.jpg" alt="">
							<h2>dish name</h2>
							<p>cook time</p>
						</div>
						<div class="recipe">
							<img src="../images/dammy_img_food.jpg" alt="">
							<h2>dish name</h2>
							<p>cook time</p>
						</div>
						<div class="recipe">
							<img src="../images/dammy_img_food.jpg" alt="">
							<h2>dish name</h2>
							<p>cook time</p>
						</div>
						<div class="recipe">
							<img src="../images/dammy_img_food.jpg" alt="">
							<h2>dish name</h2>
							<p>cook time</p>
						</div>
				</div>
			</div>
		</section>
	</main>

	<script src="../javascript/jquery-3.6.0.min.js"></script>
	<script src="../javascript/recipe.js"></script>
</body>
</html>