<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Recipeee</title>
	<link rel="stylesheet" href="../css/reset.css">
	<link rel="stylesheet" href="../css/basic.css">
	<link rel="stylesheet" href="../css/recipe.css">
</head>
<body>
	<main class="main flex">
		<section id="over-view" class="flex">
			<div class="tab flex">
				<p>Overview</p>
			</div>
			<div class="content">
				<div class="container flex">
					<div class="img-holder">
						<img src="https://riomarkennedyonline.com.br/riomarkennedyonline/2020/05/PASTEL_CHEPPITOS.jpg" alt="" srcset="">
					</div>
					<div class="content-holder">
						<h1>Pastel</h1>
						<ul class="flex tags">
							<li>tag</li>
							<li>tag</li>
							<li>tag</li>
							<li>tag</li>
						</ul>
						<p>Pastel is a food composed of a dough based on flour that is formed in an envelope, filled and then fried by soaking in boiling oil. Originating from European cuisine, pastel is one of the most frequently found foods in street carts and popular trade centers in Brazil </p>
						<div class="feedback flex">
							<p>15 portions</p>
							<p>30 min</p>
						</div>
					</div>
				</div>
			</div>
		</section>
		<section id="ingredients" class="flex">
			<div class="tab flex">
				<p>Ingredients</p>
			</div>
			<div class="content">
				<div class="container">
					<h1>Ingredients</h1>
					<div class="flex">
						<div class="item">
							<div class="img-holder">
								<img src="../images/dammy_img_apple.jpg" alt="" >
							</div>
							<p>3 cups of wheat flour</p>
						</div>
						<div class="item">
							<div class="img-holder">
								<img src="../images/dammy_img_apple.jpg" alt="" >
							</div>
							<p>1 cup of warm water</p>
						</div>
						<div class="item">
							<div class="img-holder">
								<img src="../images/dammy_img_apple.jpg" alt="" >
							</div>
							<p>3 tablespoons (soup) of oil</p>
						</div>
						<div class="item">
							<div class="img-holder">
								<img src="../images/dammy_img_apple.jpg" alt="" >
							</div>
							<p>1 tablespoons (soup) of cachaça</p>
						</div>
						<div class="item">
							<div class="img-holder">
								<img src="../images/dammy_img_apple.jpg" alt="" >
							</div>
							<p>1 tablespoons (soup) of salt</p>
						</div>
						<div class="item">
							<div class="img-holder">
								<img src="../images/dammy_img_apple.jpg" alt="" >
							</div>
							<p>wheat flour to work the dough</p>
						</div>
					</div>
				</div>
			</div>
		</section>
		<section id="method" class="flex">
			<div class="tab flex">
				<p>Method</p>
			</div>
			<div class="content">
				<div class="container">
					<h1>How to cook</h1>
					<ol>
						<li>Bring a large pot of lightly salted water to a boil. Cook spaghetti in the boiling water, 
							stirring occasionally until cooked through but firm to the bite, 10 to 12 minutes. 
							Drain and rinse under cold water. Transfer pasta to a serving bowl and toss with olive oil.</li>
						<li>Whisk soy sauce, sugar, vinegar, sesame seeds, chili sauce, and sesame oil together in a bowl 
							until sugar dissolves. Toss soy sauce mixture with pasta; top with green onions, red bell pepper, and snap peas. 
							Refrigerate 30 minutes to overnight to allow flavors to blend. Toss again before serving.</li>
						<!-- <li>Lorem, ipsum dolor.</li>
						<li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione sapiente fugiat, deleniti nostrum aspernatur quia et praesentium atque reiciendis suscipit laborum provident vel consequuntur eligendi ad enim. Ab, vero error!</li>
						<li>Lorem, ipsum dolor.</li> -->
					</ol>
				</div>
			</div>
		</section>
		<section id="video" class="flex">
			<div class="tab flex">
				<p>Cook with Video</p>
			</div>
			<div class="content">
				<div class="container">
					<h1>Cook with the video</h1>
					<div class="video-holder">
						<iframe width= "880px" height="497px" src="https://www.youtube.com/embed/522BBAsijU0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
					</div>
				</div>
			</div>
		</section>
		<section id="review" class="flex">
			<div class="tab flex">
				<p>Review</p>
			</div>
			<div class="content">
				<div class="container">
					<h1>Review</h1>
					<div class="comment">
						<div class="flex">
							<div class="img-holder">
								<img src="../images/dammy_img_face.jpeg" alt="">
							</div>
							<div>
								<h2>Name of person</h2>
								<p>Cook at March 13th, 2022</p>
							</div>
						</div>
						<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta officiis deserunt quidem odit quisquam qui sed voluptas consequuntur dolor atque?</p>
					</div>
					<div class="comment">
						<div class="flex">
							<div class="img-holder">
								<img src="../images/dammy_img_face.jpeg" alt="">
							</div>
							<div>
								<h2>Name of person</h2>
								<p>Cook at March 13th, 2022</p>
							</div>
						</div>
						<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta officiis deserunt quidem odit quisquam qui sed voluptas consequuntur dolor atque?</p>
					</div>
					<div class="comment">
						<div class="flex">
							<div class="img-holder">
								<img src="../images/dammy_img_face.jpeg" alt="">
							</div>
							<div>
								<h2>Name of person</h2>
								<p>Cook at March 13th, 2022</p>
							</div>
						</div>
						<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta officiis deserunt quidem odit quisquam qui sed voluptas consequuntur dolor atque?</p>
					</div>
					<div class="comment">
						<div class="flex">
							<div class="img-holder">
								<img src="../images/dammy_img_face.jpeg" alt="">
							</div>
							<div>
								<h2>Name of person</h2>
								<p>Cook at March 13th, 2022</p>
							</div>
						</div>
						<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta officiis deserunt quidem odit quisquam qui sed voluptas consequuntur dolor atque?</p>
					</div>
					<div class="comment">
						<div class="flex">
							<div class="img-holder">
								<img src="../images/dammy_img_face.jpeg" alt="">
							</div>
							<div>
								<h2>Name of person</h2>
								<p>Cook at March 13th, 2022</p>
							</div>
						</div>
						<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta officiis deserunt quidem odit quisquam qui sed voluptas consequuntur dolor atque?</p>
					</div>
				</div>
			</div>
		</section>
		<section id="similar-recipes" class="flex">
			<div class="tab flex">
				<p>Similar Recipes</p>
			</div>
			<div class="content">
				<div class="container">
					<h1>Similar Recipes</h1>
					<div class="flex">
						<div class="recipe">
							<img src="../images/dammy_img_food.jpg" alt="">
							<h2>dish name</h2>
							<p>cook time</p>
						</div>
						<div class="recipe">
							<img src="../images/dammy_img_food.jpg" alt="">
							<h2>dish name</h2>
							<p>cook time</p>
						</div>
						<div class="recipe">
							<img src="../images/dammy_img_food.jpg" alt="">
							<h2>dish name</h2>
							<p>cook time</p>
						</div>
						<div class="recipe">
							<img src="../images/dammy_img_food.jpg" alt="">
							<h2>dish name</h2>
							<p>cook time</p>
						</div>
						<div class="recipe">
							<img src="../images/dammy_img_food.jpg" alt="">
							<h2>dish name</h2>
							<p>cook time</p>
						</div>
						<div class="recipe">
							<img src="../images/dammy_img_food.jpg" alt="">
							<h2>dish name</h2>
							<p>cook time</p>
						</div>
					</div>
				</div>
			</div>
		</section>
		<section id="serve-with" class="flex">
			<div class="tab flex">
				<p>Serve with</p>
			</div>
			<div class="content">
				<div class="container">
					<h1>Serve with</h1>
					<div class="flex">
						<div class="recipe">
							<img src="../images/dammy_img_food.jpg" alt="">
							<h2>dish name</h2>
							<p>cook time</p>
						</div>
						<div class="recipe">
							<img src="../images/dammy_img_food.jpg" alt="">
							<h2>dish name</h2>
							<p>cook time</p>
						</div>
						<div class="recipe">
							<img src="../images/dammy_img_food.jpg" alt="">
							<h2>dish name</h2>
							<p>cook time</p>
						</div>
						<div class="recipe">
							<img src="../images/dammy_img_food.jpg" alt="">
							<h2>dish name</h2>
							<p>cook time</p>
						</div>
						<div class="recipe">
							<img src="../images/dammy_img_food.jpg" alt="">
							<h2>dish name</h2>
							<p>cook time</p>
						</div>
						<div class="recipe">
							<img src="../images/dammy_img_food.jpg" alt="">
							<h2>dish name</h2>
							<p>cook time</p>
						</div>
				</div>
			</div>
		</section>
	</main>

	<script src="../javascript/jquery-3.6.0.min.js"></script>
	<script src="../javascript/recipe.js"></script>
</body>
</html>