<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Recipeee</title>
	<link rel="stylesheet" href="../css/reset.css">
	<link rel="stylesheet" href="../css/basic.css">
	<link rel="stylesheet" href="../css/recipe.css">
</head>
<body>
	<div class="header">
		<h2>HOME</h2>
		<h2>ABOUT</h2>
		<h2>CONTACT</h2>
		<img src="../images/logo.png" alt="logo">
		<h2>RECIPES</h2>
		<h2>ARTICLE</h2>
		<h2>SHARE YOUR RECIPE</h2>
	</div>
	<div class="wrapper">
		<p>3000+ Recipes waiting for you!</p>
		<form action="#">
			<input type="text"
				placeholder=" Search Courses"
				name="search">
			<button>
				<i class="fa fa-search"
					style="font-size: 18px;">
				</i>
			</button>
		</form>
	</div>

	<script src="../javascript/jquery-3.6.0.min.js"></script>
	<script src="../javascript/recipe.js"></script>
</body>
</html>