<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Recipeee</title>
	<link rel="stylesheet" href="../css/reset.css">
	<link rel="stylesheet" href="../css/basic.css">
	<link rel="stylesheet" href="../css/recipe.css">
</head>
<body>
	<header class="header">
			<h2>HOME</h2>
			<h2>ABOUT</h2>
			<h2>CONTACT</h2>
			<img src="../images/logo.png" alt="logo">
			<h2>RECIPES</h2>
			<h2>ARTICLE</h2>
			<h2>SHARE YOUR RECIPE</h2>
	</header>
	<main class="main flex">
		<section id="over-view" class="flex">
			<div class="tab flex">
				<p>Overview</p>
			</div>
			<div class="content">
				<div class="container flex">
					<div class="img-holder">
						<img src="../images/images-nicofood/image-nicofood-lasagna.jpg" alt="" srcset="">
					</div>
					<div class="content-holder">
						<h1>Lasagna alla Bolognese</h1>
						<ul class="flex tags">
							<li>Italian</li>
							<li>Italian food</li>
							<li>Bolognese</li>
							<li>Proudly Italian</li>
						</ul>
						<p>Lasagne alla Bolognese is an institution, typical for Sunday lunches. This rich and tasty dish originates from the Emilia region, specifically, from the city of Bologna. Lasagna, however, is known, appreciated, made, remade, tasted and shared not only throughout Italy, but also abroad as an Italian symbolic dish.</p>
						<div class="feedback flex">
							<p>100 unsurpassed!</p>
							<p>Prep: 120 minutes; Cook: 180 minutes.</p>
						</div>
					</div>
				</div>
			</div>
		</section>
		<section id="ingredients" class="flex">
			<div class="tab flex">
				<p>Ingredients</p>
			</div>
			<div class="content">
				<div class="container">
					<h1>Ingredients</h1>
					<div class="flex">
						<div class="item">
							<div class="img-holder">
								<img src="../images/images-nicofood/image-nicofood-besciamella.jpg" alt="" >
							</div>
							<p>Besciamella</p>
						</div>
						<div class="item">
							<div class="img-holder">
								<img src="../images/images-nicofood/image-nicofood-pastalayers.jpg" alt="" >
							</div>
							<p>Pasta layers</p>
						</div>
						<div class="item">
							<div class="img-holder">
								<img src="../images/images-nicofood/image-nicofood-ragu'.jpeg" alt="" >
							</div>
							<p>Ragu'</p>
						</div>
						<div class="item">
							<div class="img-holder">
								<img src="../images/images-nicofood/image-nicofood-tomatosauce.jpg" alt="" >
							</div>
							<p>Tomato sauce</p>
						</div>
						<div class="item">
							<div class="img-holder">
								<img src="../images/images-nicofood/image-nicofood-grana.jpg" alt="" >
							</div>
							<p>Grana Padano</p>
						</div>
						<div class="item">
							<div class="img-holder">
								<img src="../images/images-nicofood/image-nicofood-prosciuttocotto.jpg" alt="" >
							</div>
							<p>Prosciutto cotto</p>
						</div>
					</div>
				</div>
			</div>
		</section>
		<section id="method" class="flex">
			<div class="tab flex">
				<p>Method</p>
			</div>
			<div class="content">
				<div class="container">
					<h1>How to cook</h1>
					<ol>
						<li>Take a large 12x8 inches (30x20 cm) lasagna pan and grease the bottom. Add a thin layer of béchamel and one of Bolognese sauce. Then place the first sheet.</li>
						<li>add a layer of béchamel and a layer of meat sauce. Add grated Parmesan cheese and place another sheet of pasta on top.</li>
						<li>Add another layer of béchamel and one of meat sauce, add grated cheese and you can add prosciutto cotto as well, continue like this until you have 5 layers. After placing the last sheet, add the Bolognese sauce.</li>
						<li>in order to completely cover the pasta sheet. Sprinkle with grated cheese, add some tufts of butter and bake in a preheated static oven at 338°F (170°C) for 40 minutes.</li>
						<li>Tips for the Bolognese: In the past, milk was also used to dampen the wild taste of meat during cooking, but it is something that is no longer or rarely done today. There are those who use a mix of pork and beef to get a fat mix at the right point. We advise you to use, in addition to pancetta bacon, skirt stea or in any case a cut that is not too lean.</li>
					</ol>
				</div>
			</div>
		</section>
		<section id="video" class="flex">
			<div class="tab flex">
				<p>Cook with Video</p>
			</div>
			<div class="content">
				<div class="container">
					<h1>Cook with the video</h1>
					<div class="video-holder">
						<iframe width= "880px" height="497px" src="https://youtube.com/embed/LKWuYwyNctY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
					</div>
				</div>
			</div>
		</section>
		<section id="review" class="flex">
			<div class="tab flex">
				<p>Review</p>
			</div>
			<div class="content">
				<div class="container">
					<h1>Review</h1>
					<div class="comment">
						<div class="flex">
							<div class="img-holder">
								<img src="../images/dammy_img_face.jpeg" alt="">
							</div>
							<div>
								<h2>James Sutherland</h2>
								<p>Cook at March 13th, 2022</p>
							</div>
						</div>
						<p>I tried to make the Lasagna alla Bolognese, but I added the mushrooms to my version. Are there some italians that could agree with my version? :D</p>
					</div>
					<div class="comment">
						<div class="flex">
							<div class="img-holder">
								<img src="../images/dammy_img_face.jpeg" alt="">
							</div>
							<div>
								<h2>Michele Trevisan</h2>
								<p>Cook at January 17th, 2022</p>
							</div>
						</div>
						<p>Love it! I cooked it last Sunday, it was amazing!</p>
					</div>
					<div class="comment">
						<div class="flex">
							<div class="img-holder">
								<img src="../images/dammy_img_face.jpeg" alt="">
							</div>
							<div>
								<h2>Francesco Bressan</h2>
								<p>Cook at December 28th, 2021</p>
							</div>
						</div>
						<p>Wow! Thank you so much to have shared this recipe! I will do it.</p>
					</div>
					<div class="comment">
						<div class="flex">
							<div class="img-holder">
								<img src="../images/dammy_img_face.jpeg" alt="">
							</div>
							<div>
								<h2>Jonas Pfeihofer</h2>
								<p>Cook at August 8th, 2020</p>
							</div>
						</div>
						<p>Absolutely incredible! I'm really happy about that and I did it for my children! They love italian's food.</p>
					</div>
					<div class="comment">
						<div class="flex">
							<div class="img-holder">
								<img src="../images/dammy_img_face.jpeg" alt="">
							</div>
							<div>
								<h2>Michael Hodge</h2>
								<p>Cook at May 21th, 2019</p>
							</div>
						</div>
						<p>I would try it, but is italian or french?</p>
					</div>
				</div>
			</div>
		</section>
		<section id="similar-recipes" class="flex">
			<div class="tab flex">
				<p>Similar Recipes</p>
			</div>
			<div class="content">
				<div class="container">
					<h1>Similar Recipes</h1>
					<div class="flex">
						<div class="recipe">
							<img src="../images/images-nicofood/image-nicofood-bakedpasta.jpeg" alt="">
							<h2>Pasta al forno</h2>
							<p>110 minutes</p>
						</div>
						<div class="recipe">
							<img src="../images/images-nicofood/image-nicofood-crespelle.jpg" alt="">
							<h2>Crespelle</h2>
							<p>65 minutes</p>
						</div>
						<div class="recipe">
							<img src="../images/images-nicofood/image-nicofood-ragu'.jpeg" alt="">
							<h2>Ragu' alla Bolognese</h2>
							<p>230 minutes</p>
						</div>
						<div class="recipe">
							<img src="../images/images-nicofood/image-nicofood-cannelloni.png" alt="">
							<h2>Cannelloni</h2>
							<p>140 minutes</p>
						</div>
						<div class="recipe">
							<img src="../images/images-nicofood/image-nicofood-strozzapreti.jpg" alt="">
							<h2>Strozzapreti with octopus</h2>
							<p>65 minutes</p>
						</div>
						<div class="recipe">
							<img src="../images/images-nicofood/image-nicofood-lasagnefish.jpg" alt="">
							<h2>Lasagne with fish</h2>
							<p>125 minutes</p>
						</div>
					</div>
				</div>
			</div>
		</section>
		<section id="serve-with" class="flex">
			<div class="tab flex">
				<p>Serve with</p>
			</div>
			<div class="content">
				<div class="container">
					<h1>Serve with</h1>
					<div class="flex">
						<div class="recipe">
							<img src="../images/images-nicofood/image-nicofood-saltcake.jpg" alt="">
							<h2>Salt cake</h2>
							<p>65 minutes</p>
						</div>
						<div class="recipe">
							<img src="../images/images-nicofood/image-nicofood-scaloppine.jpg" alt="">
							<h2>Scaloppine</h2>
							<p>20 minutes</p>
						</div>
						<div class="recipe">
							<img src="../images/images-nicofood/image-nicofood-zucchinirolls.jpg" alt="">
							<h2>Zucchini rolls with prosciutto crudo and robiola cheese</h2>
							<p>20 minutes</p>
						</div>
						<div class="recipe">
							<img src="../images/images-nicofood/image-nicofood-caulifloweraugratin.jpg" alt="">
							<h2>Cauliflower au gratin</h2>
							<p>50 minutes</p>
						</div>
						<div class="recipe">
							<img src="../images/images-nicofood/image-nicofood-fishballs.jpg" alt="">
							<h2>fishballs</h2>
							<p>35 minutes</p>
						</div>
						<div class="recipe">
							<img src="../images/images-nicofood/image-nicofood-fishskewers.jpg" alt="">
							<h2>Fish skewers</h2>
							<p>40 minutes</p>
						</div>
				</div>
			</div>
		</section>
	</main>
	

	<script src="../javascript/jquery-3.6.0.min.js"></script>
	<script src="../javascript/recipe.js"></script>
</body>
</html>