<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Recipeee</title>
	<link rel="stylesheet" href="../css/reset.css">
	<link rel="stylesheet" href="../css/basic.css">
	<link rel="stylesheet" href="../css/recipe.css">
	<link rel="stylesheet" href="../css/dropmenu.css">
</head>
<body>
	<header class="header">
			<h2>HOME</h2>
			<h2>ABOUT</h2>
			<h2>CONTACT</h2>
			<img src="../images/logo.png" alt="logo" id="logo">
			<div class="dropdown">
					<button onclick="myFunction()" class="dropbtn">RECIPES</button>
					<div id="myDropdown" class="dropdown-content">
					  <a href="#">Chicken</a>
					  <a href="#">Meat</a>
					  <a href="#">Salads</a>
					</div>
				  </div>
			
			<div>
				<h2>ARTICLE <span><img src="../images/icon_drop-down.svg" alt=""></span></h2>
			</div>
			<h2>Share yours</h2>
	</header>
	<main class="main flex">
		<section id="over-view" class="flex">
			<div class="tab flex">
				<p>Overview</p>
			</div>
			<div class="content">
				<div class="container flex">
					<div class="img-holder">
						<img src="../images/burger.jpg" alt="" srcset="">
					</div>
					<div class="content-holder">
						<h1>Roasted black bean burgers</h1>
						<ul>
							<div class="nutrition-expanded">
								<div class="inner">
									<span class="title1">Calories</span>
									<span class="content1">499</span>
									<span class="percentage">25%</span>
								</div>
								<div class="inner">
									<span class="title1">Fat</span>
									<span class="content1">18.7g</span>
									<span class="percentage">27%</span>
								</div>
								<div class="inner">
									<span class="title1">Saturates</span>
									<span class="content1">5.3g</span>
									<span class="percentage">27%</span>
								</div>
								<div class="inner">
									<span class="title1">Sugars</span>
									<span class="content1">14.1g</span>
									<span class="percentage">16%</span>
								</div>
								<!-- <div class="inner">
									<span class="title">Protein</span>
									<span class="content">19g</span>
									<span class="percentage">38%</span>
								</div> -->
							</div>
						</ul>

						<ul class="flex tags">

						</ul>
						<p>“Wedged into a bun with zingy tomato salsa, juicy mango, 
							avocado and extra Tabasco, these black bean burgers are 
							really something rather special. Big flavour, and super-satisfying 
							to tuck into. ”</p>
						<div class="feedback flex">
							<p><img src="../images/icon_good-btn.svg" alt="">100</p>
							<p><img src="../images/icon_timer.svg"> 15 min</p>
						</div>
					</div>
				</div>
			</div>
		</section>
		<section id="ingredients" class="flex">
			<div class="tab flex">
				<p>Ingredients</p>
			</div>
			<div class="content">
				<div class="container">
					<h1>Ingredients</h1>
					<div class="flex">
						<div class="item">
							<div class="img-holder">
								<img src="../images/images-omarfood/avocado.jpeg" alt="" >
							</div>
							<p>Avocado</p>
						</div>
						<div class="item">
							<div class="img-holder">
								<img src="../images/images-omarfood/blackbeans.jpeg" alt="" >
							</div>
							<p>Black beans</p>
						</div>
						<div class="item">
							<div class="img-holder">
								<img src="../images/images-omarfood/bun.jpeg" alt="" >
							</div>
							<p>Hamburguer bun</p>
						</div>
						<div class="item">
							<div class="img-holder">
								<img src="../images/images-omarfood/lime.jpeg" alt="" >
							</div>
							<p>Lime</p>
						</div>
					</div>
				</div>
			</div>
		</section>
		<section id="method" class="flex">
			<div class="tab flex">
				<p>Method</p>
			</div>
			<div class="content">
				<div class="container">
					<h1>How to cook</h1>
					<ol>
						<li>Preheat the oven to 200ºC/400ºF/gas</li>
						<li>Peel 1 onion, place in a food processor 
							with the mushrooms, rye bread and 1 teaspoon 
							of ground coriander, and whiz until fine. </li>
						<li>Drain and pulse in the black beans, season 
								lightly with sea salt and black pepper, then 
								divide into 4 and shape into patties, roughly 2.5cm thick. </li>
						<li>Rub all over with oil and dust with ground coriander, 
							then place on an oiled baking tray and roast for 25 minutes,
							 or until dark and crispy, topping with the Cheddar and warming 
							 the rolls for the last few minutes.</li>
						<li>Meanwhile, peel and very finely chop the remaining onion with the 
							tomatoes and place in a bowl. Squeeze over the lime juice, add a 
							few shakes of Tabasco and season to taste. Destone, peel and finely 
							slice the mango and avocado.</li>
						<li>Halve the warm rolls and divide the yoghurt between the bases, followed 
							by half the salsa, the mango, avocado and coriander leaves. 
							Top with the burgers, remaining salsa and extra Tabasco, 
							pop the lids on and press down lightly. Always nice with oven-roasted, skin-on chips.</li>
						<!-- <li>Lorem, ipsum dolor.</li>
						<li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione sapiente fugiat, deleniti nostrum aspernatur quia et praesentium atque reiciendis suscipit laborum provident vel consequuntur eligendi ad enim. Ab, vero error!</li>
						<li>Lorem, ipsum dolor.</li> -->
					</ol>
				</div>
			</div>
		</section>
		<section id="video" class="flex">
			<div class="tab flex">
				<p>Cook with Video</p>
			</div>
			<div class="content">
				<div class="container">
					<h1>Cook with the video</h1>
					<div class="video-holder">
						<iframe width= "500px" height="450px" src="https://www.youtube.com/embed/522BBAsijU0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
					</div>
				</div>
			</div>
		</section>
		<section id="review" class="flex">
			<div class="tab flex">
				<p>Review</p>
			</div>
			<div class="content">
				<div class="container">
					<h1>Review</h1>
					<div class="comment">
						<div class="flex">
							<div class="img-holder">
								<img src="../images/dammy_img_face.jpeg" alt="">
							</div>
							<div class="revCooker">
								<h2>Tomonao </h2>
								<p>Cook at January 19th, 2021</p>
							</div>
						</div>
						<p>Best burger ever! So Grateful.</p>
					</div>
					<div class="comment">
						<div class="flex">
							<div class="img-holder">
								<img src="../images/dammy_img_face.jpeg" alt="">
							</div>
							<div class="revCooker">
								<h2>Omar Segura</h2>
								<p>Cook at March 13th, 2022</p>
							</div>
						</div>
						<p>"Best Recipe ever!, Easy to cook and tasteful. Thank you !</p>
					</div>

				</div>
			</div>
		</section>
		<section id="similar-recipes" class="flex">
			<div class="tab flex">
				<p>Similar Recipes</p>
			</div>
			<div class="content">
				<div class="container">
					<h1>Similar Recipes</h1>
					<div class="flex">
						<div class="recipe">
							<div class="bg-img">
								<div class="bg-img-text"></div>
							</div>
							<h2>Scruffy aubergine lasagne</h2>
							<p class="cook-time">120 min.</p>
						</div>
						<div class="recipe">
							<div class="bg-img2">
								<div class="bg-img-text"></div>
							</div>
							<h2>Crispy-bottomed steamed dumplings</h2>
							<p class="cook-time">90 min.</p>
						</div>
						<div class="recipe">
							<div class="bg-img3">
								<div class="bg-img-text"></div>
							</div>
							<h2>Pancakes</h2>
							<p class="cook-time">30 min.</p>
						</div>
						
					</div>
				</div>
			</div>
		</section>
		<section id="serve-with" class="flex">
			<div class="tab flex">
				<p>Serve with</p>
			</div>
			<div class="content">
				<div class="container">
					<h1>Serve with</h1>
					<div class="flex">
						<div class="recipe">
							<div class="bg-img4">
								<div class="bg-img-text"></div>
							</div>
							<h2>Esparragus</h2>
							<p class="cook-time">30 min.</p>
						</div>
						<div class="recipe">
							<div class="bg-img5">
								<div class="bg-img-text"></div>
							</div>
							<h2>Fries</h2>
							<p class="cook-time">25 min.</p>
						</div>
						<div class="recipe">
							<div class="bg-img6">
								<div class="bg-img-text"></div>
							</div>
							<h2>Mac and Cheesse</h2>
							<p class="cook-time">35 min.</p>
						</div>
						
				</div>
			</div>
		</section>
	</main>
	<script>
		/* When the user clicks on the button,
		toggle between hiding and showing the dropdown content */
		function myFunction() {
		document.getElementById("myDropdown").classList.toggle("show");
		}

		// Close the dropdown menu if the user clicks outside of it
		window.onclick = function(event) {
		if (!event.target.matches('.dropbtn')) {
			var dropdowns = document.getElementsByClassName("dropdown-content");
			var i;
			for (i = 0; i < dropdowns.length; i++) {
			var openDropdown = dropdowns[i];
			if (openDropdown.classList.contains('show')) {
				openDropdown.classList.remove('show');
			}
			}
		}
		}

	</script>

	<script src="../javascript/jquery-3.6.0.min.js"></script>
	<script src="../javascript/recipe.js"></script>
</body>
</html>