<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Recipeee</title>
	<link rel="stylesheet" href="../css/reset.css">
	<link rel="stylesheet" href="../css/basic.css">
	<link rel="stylesheet" href="../css/recipe.css">
</head>
<body>
	<header class="header">
		hereder will be here
	</header>
	<main class="main flex">
		<section id="over-view" class="flex">
			<div class="tab flex">
				<p>Overview</p>
			</div>
			<div class="content">
				<div class="container flex">
					<div class="img-holder">
						<img src="../images/dammy_img_food.jpg" alt="" srcset="">
					</div>
					<div class="content-holder">
						<h1>Name of dishes</h1>
						<ul class="flex tags">
							<li>tag</li>
							<li>tag</li>
							<li>tag</li>
							<li>tag</li>
						</ul>
						<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. 
							Laboriosam non beatae doloribus aliquam. Quasi libero aliquam, 
							veritatis ducimus alias minima soluta eum consectetur, nobis 
							expedita cupiditate dolor perferendis nihil ab laudantium accusantium 
							voluptates dicta perspiciatis quae quia architecto consequuntur? Esse 
							similique voluptas temporibus velit? Sapiente assumenda amet quas quos ea!</p>
						<div class="feedback flex">
							<p>100 good</p>
							<p>15 min</p>
						</div>
					</div>
				</div>
			</div>
		</section>
		<section id="ingredients" class="flex">
			<div class="tab flex">
				<p>Ingredients</p>
			</div>
			<div class="content">
				<div class="container">
					<h1>Ingredients</h1>
					<div class="flex">
						<div class="item">
							<div class="img-holder">
								<img src="../images/dammy_img_apple.jpg" alt="" >
							</div>
							<p>Apple</p>
						</div>
						<div class="item">
							<div class="img-holder">
								<img src="../images/dammy_img_apple.jpg" alt="" >
							</div>
							<p>Apple</p>
						</div>
						<div class="item">
							<div class="img-holder">
								<img src="../images/dammy_img_apple.jpg" alt="" >
							</div>
							<p>Apple</p>
						</div>
						<div class="item">
							<div class="img-holder">
								<img src="../images/dammy_img_apple.jpg" alt="" >
							</div>
							<p>Apple</p>
						</div>
						<div class="item">
							<div class="img-holder">
								<img src="../images/dammy_img_apple.jpg" alt="" >
							</div>
							<p>Apple</p>
						</div>
						<div class="item">
							<div class="img-holder">
								<img src="../images/dammy_img_apple.jpg" alt="" >
							</div>
							<p>Apple</p>
						</div>
					</div>
				</div>
			</div>
		</section>
		<section id="method" class="flex">
			<div class="tab flex">
				<p>Method</p>
			</div>
			<div class="content">
				<div class="container">
					<h1>How to cook</h1>
					<ol>
						<li>Lorem, ipsum dolor.</li>
						<li>Lorem, ipsum dolor.</li>
						<li>Lorem, ipsum dolor.</li>
						<li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione sapiente fugiat, deleniti nostrum aspernatur quia et praesentium atque reiciendis suscipit laborum provident vel consequuntur eligendi ad enim. Ab, vero error!</li>
						<li>Lorem, ipsum dolor.</li>
					</ol>
				</div>
			</div>
		</section>
		<section id="video" class="flex">
			<div class="tab flex">
				<p>Cook with Video</p>
			</div>
			<div class="content">
				<div class="container">
					<h1>Cook with the video</h1>
					<div class="video-holder">
						<iframe width= "880px" height="497px" src="https://www.youtube.com/embed/522BBAsijU0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
					</div>
				</div>
			</div>
		</section>
		<section id="review" class="flex">
			<div class="tab flex">
				<p>Review</p>
			</div>
			<div class="content">
				<div class="container">
					<h1>Review</h1>
					<div class="comment">
						<div class="flex">
							<div class="img-holder">
								<img src="../images/dammy_img_face.jpeg" alt="">
							</div>
							<div>
								<h2>Name of person</h2>
								<p>Cook at March 13th, 2022</p>
							</div>
						</div>
						<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta officiis deserunt quidem odit quisquam qui sed voluptas consequuntur dolor atque?</p>
					</div>
					<div class="comment">
						<div class="flex">
							<div class="img-holder">
								<img src="../images/dammy_img_face.jpeg" alt="">
							</div>
							<div>
								<h2>Name of person</h2>
								<p>Cook at March 13th, 2022</p>
							</div>
						</div>
						<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta officiis deserunt quidem odit quisquam qui sed voluptas consequuntur dolor atque?</p>
					</div>
					<div class="comment">
						<div class="flex">
							<div class="img-holder">
								<img src="../images/dammy_img_face.jpeg" alt="">
							</div>
							<div>
								<h2>Name of person</h2>
								<p>Cook at March 13th, 2022</p>
							</div>
						</div>
						<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta officiis deserunt quidem odit quisquam qui sed voluptas consequuntur dolor atque?</p>
					</div>
					<div class="comment">
						<div class="flex">
							<div class="img-holder">
								<img src="../images/dammy_img_face.jpeg" alt="">
							</div>
							<div>
								<h2>Name of person</h2>
								<p>Cook at March 13th, 2022</p>
							</div>
						</div>
						<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta officiis deserunt quidem odit quisquam qui sed voluptas consequuntur dolor atque?</p>
					</div>
					<div class="comment">
						<div class="flex">
							<div class="img-holder">
								<img src="../images/dammy_img_face.jpeg" alt="">
							</div>
							<div>
								<h2>Name of person</h2>
								<p>Cook at March 13th, 2022</p>
							</div>
						</div>
						<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta officiis deserunt quidem odit quisquam qui sed voluptas consequuntur dolor atque?</p>
					</div>
				</div>
			</div>
		</section>
		<section id="similar-recipes" class="flex">
			<div class="tab flex">
				<p>Similar Recipes</p>
			</div>
			<div class="content">
				<div class="container">
					<h1>Similar Recipes</h1>
					<div class="flex">
						<div class="recipe">
							<img src="../images/dammy_img_food.jpg" alt="">
							<h2>dish name</h2>
							<p>cook time</p>
						</div>
						<div class="recipe">
							<img src="../images/dammy_img_food.jpg" alt="">
							<h2>dish name</h2>
							<p>cook time</p>
						</div>
						<div class="recipe">
							<img src="../images/dammy_img_food.jpg" alt="">
							<h2>dish name</h2>
							<p>cook time</p>
						</div>
						<div class="recipe">
							<img src="../images/dammy_img_food.jpg" alt="">
							<h2>dish name</h2>
							<p>cook time</p>
						</div>
						<div class="recipe">
							<img src="../images/dammy_img_food.jpg" alt="">
							<h2>dish name</h2>
							<p>cook time</p>
						</div>
						<div class="recipe">
							<img src="../images/dammy_img_food.jpg" alt="">
							<h2>dish name</h2>
							<p>cook time</p>
						</div>
					</div>
				</div>
			</div>
		</section>
		<section id="serve-with" class="flex">
			<div class="tab flex">
				<p>Serve with</p>
			</div>
			<div class="content">
				<div class="container">
					<h1>Serve with</h1>
					<div class="flex">
						<div class="recipe">
							<img src="../images/dammy_img_food.jpg" alt="">
							<h2>dish name</h2>
							<p>cook time</p>
						</div>
						<div class="recipe">
							<img src="../images/dammy_img_food.jpg" alt="">
							<h2>dish name</h2>
							<p>cook time</p>
						</div>
						<div class="recipe">
							<img src="../images/dammy_img_food.jpg" alt="">
							<h2>dish name</h2>
							<p>cook time</p>
						</div>
						<div class="recipe">
							<img src="../images/dammy_img_food.jpg" alt="">
							<h2>dish name</h2>
							<p>cook time</p>
						</div>
						<div class="recipe">
							<img src="../images/dammy_img_food.jpg" alt="">
							<h2>dish name</h2>
							<p>cook time</p>
						</div>
						<div class="recipe">
							<img src="../images/dammy_img_food.jpg" alt="">
							<h2>dish name</h2>
							<p>cook time</p>
						</div>
				</div>
			</div>
		</section>
	</main>
	

	<script src="../javascript/jquery-3.6.0.min.js"></script>
	<script src="../javascript/recipe.js"></script>
</body>
</html>